:root {
  --font-family: 'Inter', sans-serif;

  // Font-weights
  --medium: 500;

  // Small size font
  --font-size-16: 16px;
  --font-line-16: 21px;
  --font-16: var(--font-size-16) / var(--font-line-16) var(--font-family);

  --font-size-20: 20px;
  --font-line-20: 26px;
  --font-20: var(--font-size-20) / var(--font-line-20) var(--font-family);

  // Medium size font
  --font-size-26: 26px;
  --font-line-26: 34px;
  --font-26: var(--font-size-26) / var(--font-line-26) var(--font-family);

  --font-size-32: 32px;
  --font-line-32: 40px;
  --font-32: var(--font-size-32) / var(--font-line-32) var(--font-family);

  // Large size font
  --font-size-l: 44px;
  --font-line-l: 52px;
  --font-l: var(--medium) var(--font-size-l) / var(--font-line-l)
    var(--font-family);

  // XLarge size font
  --font-size-xl: 56px;
  --font-line-xl: 64px;
  --font-xl: var(--medium) var(--font-size-xl) / var(--font-line-xl)
    var(--font-family);

  // Title card font
  --font-size-title-card: 32px;
  --font-line-title-card: 40px;
  --font-title-card: var(--medium) var(--font-size-title-card) /
    var(--font-line-title-card) var(--font-family);

  // Button fonts
  --font-size-button-s: 16px;
  --font-line-button-s: 19px;
  --font-button-s: var(--font-size-button-s) / var(--font-line-button-s)
    var(--font-family);

  --font-size-button-ml: 20px;
  --font-line-button-ml: 24px;
  --font-button-ml: var(--medium) var(--font-size-button-ml) /
    var(--font-line-button-ml) var(--font-family);

  // z - Индексы
  --modal-z-index: 1000;
  --overlay-z-index: 100;

  // Цвета
  --primary-color: #9800f5;
  --primary-hover-color: #7900c3;
  --primary-active-color: #520184;
  --secondary-color: #00a7e1;
  --white: #ffffff;
  --bg-color: #efefef;
  --base-0-color: #1f2024;
  --grey-primary-color: #75777e;
  --grey-secondary-color: #cacaca;
  --success-color: #03ce68;
  --error-color: #f73826;
  --overlay-color: #2d3748;

  // Размеры
  --navbar-height: 70px;
  --footer-height: 120px;
}
