.EmployeesSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.employee_control {
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  column-gap: 8px;
  align-items: center;

  .control_button {
    width: fit-content;
    margin-right: 16px;
    margin-left: auto;
  }
}

.employees_list {
  padding-bottom: 16px;
}

.employees_header {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  height: 54px;
  align-items: center;
  margin: 0 16px;
  border-bottom: 1px solid var(--grey-secondary-color);

  span {
    color: var(--grey-primary-color);
    font-size: 16px;
    font-weight: 400;
  }
}

.employees_pagination {
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 8px;
}
