.ModalSuccess {
  border-radius: 8px;
  background: var(--white);
  overflow: hidden;
  position: relative;
  height: min-content;
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
  gap: 16px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
