.EmployeeProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inputs {
    // max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
  }

  .name_patronymic {
    display: flex;
    gap: 8px;
  }

  .control {
    margin-top: 16px;
    justify-self: center;
    align-self: center;
    width: 100%;

    label {
      width: 100%;
      justify-content: center;
    }
  }

  .status_text {
    max-width: 310px;
    margin-top: 16px;
  }

  .btns {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
  }

  .edit_btn {
    max-width: 138px;
  }
}
