.EmployeeProfile {
  width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 44px;
  }

  .status_text {
    max-width: 310px;
    margin-top: 16px;
  }

  .btns {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
  }

  .edit_btn {
    max-width: 138px;
  }
}