.PersonalPage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8px;
  min-height: 100vh;

  .PersonalPage_info {
    display: grid;
    grid-template-rows: 276px 1fr;
    gap: 8px;
  }

  .PersonalPage_list {
    display: grid;
    grid-template-rows: 51px 1fr;
    gap: 16px;
    border-radius: 4px;
  }
}
