.title {
  color: var(--primary-color);
}

.text {
  color: var(--primary-color);
}

.error {
  .title {
    color: var(--error-color);
  }

  .text {
    color: var(--error-color);
  }
}

.accent {
  .title {
    color: var(--accent-purple);
  }

  .text {
    color: var(--accent-purple);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_s {
  .title {
    font: var(--font-m);
  }

  .text {
    font: var(--font-20);
  }
}

.size_m {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-32);
  }
}

.size_l {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}

.bold {
  .title, .text {
    font-weight: 600;
  }
}
