.EditQualitiesForm {
  width: 932px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;

  .form_header {
    margin-bottom: 8px;
  }

  .values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 32px;
    max-height: 376px;
    overflow: scroll;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .success_message {
    margin-right: 8px;
    margin-left: 8px;
  }
}
