:root {
  --font-family: 'Inter', sans-serif;

  // Font-weights
  --medium: 500;

  // Small size font
  --font-size-12: 12px;
  --font-line-12: 17px;
  --font-12: var(--font-size-12) / var(--font-line-12) var(--font-family);

  --font-size-14: 14px;
  --font-line-14: 18px;
  --font-14: var(--font-size-14) / var(--font-line-14) var(--font-family);

  --font-size-16: 16px;
  --font-line-16: 21px;
  --font-16: var(--font-size-16) / var(--font-line-16) var(--font-family);

  --font-size-20: 20px;
  --font-line-20: 26px;
  --font-20: var(--font-size-20) / var(--font-line-20) var(--font-family);

  // Medium size font
  --font-size-26: 26px;
  --font-line-26: 31px;
  --font-26: var(--font-size-26) / var(--font-line-26) var(--font-family);

  --font-size-32: 32px;
  --font-line-32: 42px;
  --font-32: var(--font-size-32) / var(--font-line-32) var(--font-family);

  // Large size font
  --font-size-l: 44px;
  --font-line-l: 52px;
  --font-l: var(--medium) var(--font-size-l) / var(--font-line-l)
    var(--font-family);

  // XLarge size font
  --font-size-xl: 56px;
  --font-line-xl: 64px;
  --font-xl: var(--medium) var(--font-size-xl) / var(--font-line-xl)
    var(--font-family);

  // Title card font
  --font-size-title-card: 32px;
  --font-line-title-card: 39px;
  --font-title-card: var(--medium) var(--font-size-title-card) /
    var(--font-line-title-card) var(--font-family);

  // Button fonts
  --font-size-button-xs: 10px;
  --font-line-button-xs: 12px;
  --font-button-xs: var(--medium) var(--font-size-button-xs) /
    var(--font-line-button-xs) var(--font-family);

  --font-size-button-s: 12px;
  --font-line-button-s: 15px;
  --font-button-s: var(--medium) var(--font-size-button-s) /
    var(--font-line-button-s) var(--font-family);

  --font-size-button-m: 14px;
  --font-line-button-m: 17px;
  --font-button-m: var(--medium) var(--font-size-button-m) /
    var(--font-line-button-m) var(--font-family);

  --font-size-button-l: 16px;
  --font-line-button-l: 19px;
  --font-button-l: var(--medium) var(--font-size-button-l) /
    var(--font-line-button-l) var(--font-family);

  // z - Индексы
  --modal-z-index: 1000;
  --overlay-z-index: 100;
  --header-z-index: 50;

  // Цвета
  --primary-color: #0844dd;
  --primary-hover-color: #0738b4;
  --primary-active-color: #0d2f87;
  --secondary-color: #e6ecfc;
  --secondary-hover-color: #c5d3f8;
  --secondary-active-color: #aabff8;
  --white: #fff;
  --bg-color: #efefef;
  --face-color: #f5f5f6;
  --base-0-color: #1f2024;
  --grey-primary-color: #75777e;
  --grey: #6C6F74;
  --grey-secondary-color: #cacaca;
  --grey-secondary-color-50pct: #cacaca80;
  --success-color: #05b365;
  --error-color: #d92d20;
  --error-color-10pct: #f738261a;
  --error-color-30pct: #f7382630;
  --warning-color: #ff9f1c;
  --overlay-color: #2d3748;
  --test: #2e37e5;

  // Размеры
  --navbar-height: 80px;
  --footer-height: 120px;
  --sidebar-width: 240px;

}
