.wrapper {
  display: flex;
  gap: 4px;
  .greyBreadcrumb {
    color: var(--grey-primary-color);
    font-size: 16px;
    font-weight: 400;
  }
  .defaultBreadcrumb {
    color: var(--base-0-color);
    font-size: 16px;
    font-weight: 400;
  }
}
