.Navbar {
  display: flex;
  align-items: end;
  width: 100%;
  height: var(--navbar-height);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  padding: 0 160px;
}

.links {
  display: flex;
  gap: 24px;
}

.buttons {
  display: flex;
  height: 56px;
  font-weight: 500;
}