.ValuesAndQualities {
    div {
        margin-bottom: 32px;
    }

    h2 {
        font: var(--font-32);
        font-weight: 500;
        margin-bottom: 17px;
    }

    p {
        font: var(--font-20);
        font-weight: 400;
    }
}