.Navbar {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  gap: 8px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 8px;
  background-color: var(--bg-color);
}

.navbar_wrapper {
  height: 56px;
  background: var(--white);
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.navbar_logo {
  color: var(--primary-color);
}

.navbar_button {
  margin-left: auto;
}
