.Navbar {
  display: flex;
  align-items: end;
  width: 100%;
  height: var(--navbar-height);
  background: var(--white);
}

.wrapper {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 0 15px;
}

.links {
  display: flex;
  gap: 24px;
}

.buttons {
  display: flex;
  height: 56px;
  font-weight: 500;
}

.logo {
  color: var(--base-0-color);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}