.Navbar {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  gap: 8px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 8px;
  background-color: var(--bg-color);

  p, span {
    font-size: 12px;
  }

  p {
    font-weight: 400;
    color: var(--grey-primary-color);
  }

  span {
    color: var(--primary-color);
    font-weight: 500;
  }
}

.navbar_wrapper {
  height: 56px;
  background: var(--white);
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.wrap {
  justify-content: flex-end;
}

.navbar_logo {
  color: var(--primary-color);
}

.navbar_button {
  margin-left: auto;
}
