.ValueCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font: var(--font-26);
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &:not(.isEmpty) {
    height: 333px;
    padding-bottom: 7px;
  }

  &.isEmpty {
    h3 {
      margin-bottom: 24px;
    }
  }

  ul li {
    font: var(--font-16);
    font-weight: 500;
    color: var(--primary-color);
    height: 40px;
    line-height: 40px;
  }
}

.value_button {
  width: fit-content;
}
