.event_card {
  width: fit-content;
  margin: 0;

  position: relative;
  cursor: pointer;
  .img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .wrapper {
    padding: 4px 16px 8px;
  }
  .text_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
  }
  .button {
    height: fit-content;
    padding: 8px;
  }
  .date {
    color: var(--grey-primary-color);
    font-size: 14px;
    line-height: 18px;
  }
  .tag {
    position: absolute;
    top: 16px;
    right: 10px;
  }
  .price {
    font-size: 32px;
  }
  .wrp {
    display: flex;
    flex-direction: column;
  }
  .closed {
    filter: grayscale(100%);
  }
}
