.EmployeeRating {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-area: rating;
  justify-content: space-between;
}

.rating {
  font: var(--font-20);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.norating {
  height: 46px;
  width: 100%;
  background-image: url('../../../../shared/assets/images/rectangle.png');
  background-size: 100% 100%;
  background-repeat: space;
  background-position: 0 0;
}
