.EmployeeRating {
  position: relative;
  overflow: hidden;
}

.title {
  margin-bottom: 16px;
}

.text {
  margin-bottom: 8px;
}

.rating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, 20%);
}
