.checkbox_wrapper {
	label {
		display: flex;
		align-items: center;
		gap: 13px;

		cursor: pointer;

		input[type='checkbox'] {
			-webkit-appearance: none;
			appearance: none;
			outline: none;

			cursor: pointer;
			position: relative;

			width: 24px;
			height: 24px;

			// пока так, договорились с дизайнером, что переделает 
			&::before {
				content: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M2%2018C1.45%2018%200.979167%2017.8042%200.5875%2017.4125C0.195833%2017.0208%200%2016.55%200%2016V2C0%201.45%200.195833%200.979167%200.5875%200.5875C0.979167%200.195833%201.45%200%202%200H16C16.55%200%2017.0208%200.195833%2017.4125%200.5875C17.8042%200.979167%2018%201.45%2018%202V16C18%2016.55%2017.8042%2017.0208%2017.4125%2017.4125C17.0208%2017.8042%2016.55%2018%2016%2018H2ZM2%2016H16V2H2V16Z%22%20fill%3D%22%2375777E%22/%3E%3C/svg%3E');

				width: 18px;
				height: 18px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:checked {
				position: relative;

				&::before {
					content: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M7.6%2013.2L14.65%206.15L13.25%204.75L7.6%2010.4L4.75%207.55L3.35%208.95L7.6%2013.2ZM2%2018C1.45%2018%200.979167%2017.8042%200.5875%2017.4125C0.195833%2017.0208%200%2016.55%200%2016V2C0%201.45%200.195833%200.979167%200.5875%200.5875C0.979167%200.195833%201.45%200%202%200H16C16.55%200%2017.0208%200.195833%2017.4125%200.5875C17.8042%200.979167%2018%201.45%2018%202V16C18%2016.55%2017.8042%2017.0208%2017.4125%2017.4125C17.0208%2017.8042%2016.55%2018%2016%2018H2ZM2%2016H16V2H2V16Z%22%20fill%3D%22%2375777E%22/%3E%3C/svg%3E');

					width: 18px;
					height: 18px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}
