.checkbox_wrapper {
  label {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;

    input[type='checkbox'] {
      transition: color 0.2s ease-in, background-color 0.2s ease-in;
      appearance: none;
      outline: none;
      cursor: pointer;
      position: relative;
    }
  }

  &.disabled {
    p {
      opacity: 0.5;
    }
  }
}

.checkbox {
  input[type='checkbox'] {
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 1px solid transparent;

    &:not(:checked) {
      background-color: var(--base-1-1-color);
      border-color: var(--base-1-color);

      &:hover {
        background-color: var(--base-1-color);
      }

      &:active {
        background-color: var(--grey-primary-color);
      }

      &:focus-visible {
        background-color: var(--grey-primary-color);
        outline: 1px dashed var(--base-1-color);
        outline-offset: 0;
        border: none;
      }

      &:disabled {
        background-color: var(--grey-primary-color);
        border: none;
      }
    }

    &:checked {
      background-color: var(--primary-color);

      &:hover {
        background-color: var(--primary-hover-color);
      }

      &:active {
        background-color: var(--primary-active-color);
      }

      &:focus-visible {
        background-color: var(--primary-color);
        border-color: var(--base-1-color);
      }

      &:disabled {
        opacity: 0.5;
        background-color: var(--primary-color);
      }

      &::before {
        content: '';
        width: 10px;
        height: 8px;
        display: block;
        position: absolute;
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%228%22%20viewBox%3D%220%200%2010%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M3.75%208L10%201.51351L8.54167%200L3.75%204.97297L1.45833%202.59459L0%204.10811L3.75%208Z%22%20fill%3D%22white%22/%3E%3C/svg%3E');
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.toggle {
  input {
    width: 22px;
    height: 12px;
    border-radius: 64px;
    border: 1px solid transparent;
    background-color: var(--grey-color);

    &::before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      background-color: var(--base-1-color);
      top: 50%;
      left: 2px;
      transform: translate(0, -50%);
    }

    &:not(:checked) {
      &:hover {
        background-color: var(--base-1-1-color);
      }

      &:active {
        background-color: var(--grey-primary-color);
        border-color: var(--base-1-color);
      }

      &:focus-visible {
        border-color: var(--base-1-color);
        background-color: var(--base-1-1-color);
      }

      &:disabled {
        border: 2px solid var(--grey-primary-color);
        background-color: transparent;

        &::before {
          background-color: var(--grey-primary-color);
          left: 1px;
        }
      }
    }

    &:checked {
      background-color: var(--primary-color);

      &:hover {
        background-color: var(--primary-hover-color);
      }

      &:active {
        background-color: var(--primary-active-color);
      }

      &:focus-visible {
        background-color: var(--primary-color);
        border-color: var(--base-1-color);
      }

      &:disabled {
        opacity: 0.5;
        background-color: var(--primary-color);
      }

      &::before {
        content: '';
        left: 12px;
        transform: translate(0, -50%);
      }
    }
  }
}
