.EmployeeInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 28% 50% 22%;
  max-width: calc((100vw - var(--sidebar-width)) / 2);
  max-height: 535px;
  gap: 8px;
}

.profile {
  grid-row-start: 1;
  grid-row-end: 4;
}