.EmployeeInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "profile login" 
    "profile report"
    "profile rating"
    "profile balance"
  ;
  gap: 8px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.EmployeeLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  grid-area: login;
}

.report {

  grid-area: report;
}