.EmployeeInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: auto 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 8px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.profile {
  grid-row-start: 1;
  grid-row-end: 4;
}
