.primary {
  color: var(--primary-color);

  &:hover {
    color: var(--accent-secondary-color);
  }
}

.purple {
  color: var(--accent-purple);

  &:hover {
    color: var(--primary-color);
  }
}

.red {
  color: var(--error-color);

  &:hover {
    opacity: 0.8;
  }
}

.s {
  font: var(--font-button-s);
}

.m {
  font-size: 20px;
  font-weight: 400;
}
