.MainLayout {
	min-height: 100%;
	display: grid;
	margin: 0 16px;
	grid-template:
		'header header'
		'sidebar content'
		'footer footer'
		/ var(--sidebar-width) 1fr;
	grid-auto-rows: auto 120px;
}

.header {
	z-index: var(--header-z-index);
	grid-area: header;
	position: sticky;
	top: 0;
}

.sidebar {
	grid-area: sidebar;
	margin: calc(var(--navbar-height) + 8px) 0;
	position: fixed;
	top: 0;
	height: 100vh;
}

.content {
	grid-area: content;
	justify-self: center;
	width: 100%;
	overflow: hidden;
}

.footer {
	grid-area: footer;
	position: sticky;
	bottom: 0;
}
