.RegistrationForm {
  width: 752px;

  form {
    display: flex;
    flex-direction: column;
  }

  .form_header {
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .form_inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .form_checkbox {
    margin-left: 8px;
    margin-top: 15px;
    width: fit-content;
  }

  .form_button {
    margin-top: 23px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
