.CompanyRiskСhart {
  width: 50%;
}

.diagram_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.diagram_grid_container {
  display: grid;
}

.diagram_card {
  overflow: hidden;
  position: relative;
}
