.aside {
	height: 40px;
	padding: 4px 16px;
	border-radius: 4px;
	background-color: var(--white);
	margin-bottom: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.list {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 4px;
		background-color: var(--bg-color);
		border-radius: 4px;
		width: fit-content;
	}
}
