.xxs {
  font-size: 10px;
  font-weight: 500;
}
.xs {
  font-size: 14px;
  font-weight: 600;
}

.s {
  font-size: var(--font-button-s);
  font-weight: 600;
}

.m {
  font-size: 16px;
  font-weight: 400;
}
.l {
  font-size: 20px;
  font-weight: 600;
}

.primary {
  color: var(--primary-color);
  &:hover {
    color: var(--primary-hover-color);
  }
}

.filled {
  padding: 8px 35px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 500;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--secondary-hover-color);
  }
}

.breadcrumb {
  &:hover {
    color: var(--primary-color);
  }
  &:active {
    color: var(--primary-hover-color);
  }
  &:disabled {
    color: var(--grey-secondary-color);
  }
}

.black {
  color: var(--base-0-color);

  &:hover {
    color: var(--primary-color);
  }
}

.white {
  color: var(--white);

  &:hover {
    color: var(--primary-hover-color);
  }
}

.sidebarItem {
  color: var(--base-0-color);
}
