.tag {
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  color: var(--white);
}

.wait {
  background-color: var(--warning-color);
}

.approved {
  background-color: var(--success-color);
}

.refused {
  background-color: var(--error-color);
}
.new {
  background-color: var(--primary-color);
}
