.Button {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in, background-color 0.3s ease-in-out;
  justify-content: center;
  border: 1px solid transparent;

  &:focus {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
  }

  &:focus-visible {
    position: relative;
    outline: none;
    border-color: transparent;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
    }
  }
}

.addonLeft,
.addonRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  color: var(--white);
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-hover-color);
  }

  &:active {
    background-color: var(--primary-active-color);
  }

  &:disabled {
    opacity: 30%;
  }
}

.secondary {
  color: var(--white);
  background-color: var(--base-0-color);

  &:hover {
    background-color: var(--white);
    color: var(--base-0-color);
  }

  &:active {
    color: var(--white);
    background-color: var(--base-0-color);
  }

  &:disabled {
    color: var(--grey-primary-color);
    background-color: var(--base-0-color);
  }
}

.outline {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;

  &:hover {
    color: var(--white);
    background-color: var(--primary-hover-color);
    border-color: transparent;
  }

  &:active {
    background-color: var(--primary-active-color);
    color: var(--white);
    border-color: transparent;
  }

  &:disabled {
    color: var(--grey-secondary-color);
    border-color: var(--grey-secondary-color);
  }
}

.ghost {
  color: var(--primary-color);
  background-color: transparent;

  &:hover {
    color: var(--primary-hover-color);
  }

  &:active {
    color: var(--primary-active-color);
  }

  &:disabled {
    color: var(--grey-secondary-color);
  }

  &.l {
    padding: 15px;
  }
}

.s {
  font: var(--font-button-s);
  padding: 7px;
  border-radius: 5px;
  gap: 6px;

  .addonLeft,
  .addonRight {
    width: 19px;
    height: 19px;

    svg {
      width: 11px;
      height: 11px;
    }
  }

  &:focus-visible {
    &::before {
      border-radius: 5px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='white' stroke-width='2' stroke-dasharray='9%2c 8' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
    }
    &.outline,
    &.ghost {
      &::before {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%239800F5FF' stroke-width='2' stroke-dasharray='9%2c 8' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
      }
    }
  }
}

.m {
  font: var(--font-button-ml);
  padding: 15px;
  border-radius: 10px;
  gap: 10px;

  .addonLeft,
  .addonRight {
    width: 24px;
    height: 24px;
    svg {
      width: 14px;
      height: 14px;
    }
  }

  &:focus-visible {
    &::before {
      border-radius: 10px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='white' stroke-width='2' stroke-dasharray='9%2c 8' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
    }
    &.outline,
    &.ghost {
      &::before {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%239800F5FF' stroke-width='2' stroke-dasharray='9%2c 8' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
      }
    }
  }
}

.l {
  font: var(--font-button-ml);
  padding: 15px 23px;
  border-radius: 10px;
  gap: 12px;

  .addonLeft,
  .addonRight {
    width: 24px;
    height: 24px;
    svg {
      width: 14px;
      height: 14px;
    }
  }

  &:focus-visible {
    &::before {
      border-radius: 10px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='white' stroke-width='2' stroke-dasharray='9%2c 8' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
    }
  }
  &.outline,
  &.ghost {
    &::before {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%239800F5FF' stroke-width='2' stroke-dasharray='9%2c 8' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
    }
  }
}

.fullWidth {
  width: 100%;
}
