.ValuesAndQualities {
  h2 {
    font: var(--font-32);
    font-weight: 500;
    margin-bottom: 17px;
  }

  p {
    font: var(--font-20);
    font-weight: 400;
  }

  .company_values {
    margin-top: 32px;
  }

  .addValue_button {
    margin-top: 32px;
  }
}
