.EmployeeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--grey-primary-color);


  h2 {
    font: var(--font-32);
    font-weight: 500;
    margin-top: 32px;
  }

  p {
    font: var(--font-26);
    margin-top: 24px;
  }
}

.standard_info {
  padding: 32px 22px 0;
  width: 100%;

  p {
    font: var(--font-26);
    text-align: center;
    margin-bottom: 8px;
  }
}