@import 'reset';
@import './variables/global';

.app {
  min-height: 100vh;
  font: var(--font-32);
  color: var(--base-0-color);
  background: var(--base-1-1-color);
}

.content-page {
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}
