@import "reset";
@import "./variables/global";

.app {
  min-height: 100vh;
  font: var(--font-32);
  color: var(--primary-color);
  background: var(--footer-bg);
}

.content-page {
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}