.InputWrapper {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  position: relative;
}

.s {
  .input {
		height: 32px;
	}
}

.m {
  .input {
		height: 44px;
	}
}

.l {
  .input {
		height: 71px;
	}
}

.addonLeft,
.addonRight {
  display: flex;
  align-items: center;
	position: absolute;
	right: 17px;
}

.withAddonLeft {
  padding-left: 62px;
}

.focused {
  .addonLeft svg,
  .addonRight svg {
    color: var(--accent-secondary-color);
  }
}

.input {
  border: none;
  outline-color: transparent;
  width: 100%;
  padding-left: 16px;
	padding-right: 50px;
  border-radius: 15px;
  color: var(--primary-color);
  font: var(--font-20);
  background: var(--black-l-color);

  &:focus {
    outline: none;
  }

  &::placeholder {
    font: var(--font-20);
    color: var(--secondary-color);
  }
}

.readonly {
  opacity: 0.8;
}

.errorField {
	position: absolute;
	width: calc(100% - 50px);
	height: 100%;
	color: var(--error-color);
	font: var(--font-20);
	background: var(--black-l-color);
	border-radius: 15px;
	padding-left: 16px;
	padding-right: 50px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

.wrapper {
  width: 100%;
  display: flex;
  gap: 16px;
}
