@import 'reset';
@import './variables/global';

.app {
	min-height: 100vh;
	font-size: var(--font-32);
	color: var(--base-0-color);
	background: var(--bg-color);
	font-family: var(--font-family);
}

.layout {
	gap: 0;
	grid-gap: 0;
}

.content-page {
	display: flex;
}

::-webkit-scrollbar {
	display: none;
}
