.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 8px;
}

.not {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  background-color: var(--white);
}
