.PresetCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presets {
    h3 {
        font: var(--font-26);
        font-weight: 400;
        margin-bottom: 16px;
    }

    ul li {
        font: var(--font-16);
        font-weight: 500;
        margin-bottom: 16px;
        color: var(--primary-color);

        &:last-child {
            margin-bottom: 32px;
        }
    }

}