.ChartCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 638px;

    h2 {
        font: var(--font-32);
        font-weight: 500;
    }

}

.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart_canvas {
    height: 421px;
    max-width: 100%;
    max-height: 100%;
}

.button_group {
    display: flex;
    gap: 16px;
}