.button {
  margin: 0;
  padding: 0;
  border: none;
  outline-color: transparent;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover .Icon {
  opacity: 0.8;
}
