.EmployeeCard {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 56px;
  background-color: var(--white);
  transition: background-color 0.2s ease-in-out;
  position: relative;

  h4,
  p,
  span {
    font-size: 20px;
    color: var(--base-0-color);
  }

  &:hover {
    background-color: var(--face-color);
    .fire_button {
      opacity: 100%;
    }
  }

  &.disabled {
    background-color: var(--face-color);

    h4,
    p,
    span {
      color: var(--grey-secondary-color);
    }
  }

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 32px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--grey-secondary-color);
  }
}

.fire_button {
  color: var(--error-color);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.employee_name {
  font-weight: 500;
  margin-left: 16px;
}

.employee_position {
  font-weight: 400;
}

.employee_stat {
  display: flex;
  gap: 16px;
  align-items: center;
}

.stat_text {
  font-weight: 400;
}

.card_button {
  margin-left: auto;
  margin-right: 16px;
}

.SimpleEmployeeCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  font-size: 16px;
  font-weight: 400;
  color: var(--base-0-color);
  padding: 8px 0;
  border-bottom: 1px solid var(--grey-secondary-color);
  .name {
    font-weight: 500;
    line-height: 22px;
    margin-left: 0;
  }
  h4 {
    margin-right: 190px;
  }
  p {
    line-height: 22px;
  }
}
