.form_inputs {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.AuthorizationForm {
  width: 564px;
}

.link {
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 16px;
  align-self: flex-start;
  line-height: 14px;
  margin-top: 8px;
}
