.title {
  color: var(--base-0-color);
}

.text {
  color: var(--base-0-color);
}

.error {
  .title {
    color: var(--error-color);
  }

  .text {
    color: var(--error-color);
  }
}

.accent {
  .title {
    color: var(--primary-color);
  }

  .text {
    color: var(--primary-color);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_xs {
  .title {
    font: var(--font-16);
    font-weight: 500;
  }

  .text {
    font: var(--font-14);
  }
}

.size_s {
  .title {
    font: var(--font-20);
    font-weight: 500;
  }

  .text {
    font: var(--font-16);
  }
}

.size_m {
  .title {
    font: var(--font-32);
  }

  .text {
    font: var(--font-20);
  }
}

.size_l {
  .title {
    font: var(--font-32);
  }

  .text {
    font: var(--font-26);
  }
}

.bold {
  .title,
  .text {
    font-weight: 600;
  }
}
