.ValueCard {
  display: flex;
  flex-direction: column;
  width: 100%;

  &:hover {
    .card_buttons { 
      border-top: 1px solid var(--grey-secondary-color);
      padding-top: 8px;
      margin-top: 8px;
      max-height: 40px;
    }
  }

  .card_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  h3 {
    font: var(--font-16);
    font-weight: 600;
  }

  .values_list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .card_buttons {
    display: flex;
    gap: 8px;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height .4s, padding .3s, margin .3s;
  }
}

.value_order {
  margin-bottom: 8px;
  color: var(--grey-primary-color);
  font: var(--font-16);
  line-height: 22px;
}
