.ValueCard {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &:hover {
    .close_button {
      opacity: 1;
    }
  }

  .card_content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  h3 {
    font: var(--font-16);
    font-weight: 600;
  }

  .values_list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .close_button {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}
