.Tag {
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;

  &.disabled {
    &.primary,
    &.secondary {
      background-color: var(--bg-color);
      color: var(--grey-secondary-color);
      pointer-events: none;
    }
  }
}

.addonLeft,
.addonRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--primary-color);
  color: var(--white);

  &:hover {
    background-color: var(--primary-hover-color);
  }
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);

  &:hover {
    background-color: var(--secondary-hover-color);
  }
}

.l {
  height: 48px;
  padding: 0 20px;
  gap: 8px;
  font: var(--font-button-l);

  .addonLeft,
  .addonRight {
    width: 20px;
    height: 20px;

    span {
      font-size: 20px;
      font-variation-settings: 'OPSZ' 20;
    }
  }
}

.m {
  height: 40px;
  padding: 0 16px;
  gap: 8px;
  font: var(--font-button-m);

  .addonLeft,
  .addonRight {
    width: 16px;
    height: 16px;

    span {
      font-size: 16px;
      font-variation-settings: 'OPSZ' 16;
    }
  }
}

.s {
  height: 32px;
  padding: 0 12px;
  gap: 4px;
  font: var(--font-button-s);

  .addonLeft,
  .addonRight {
    width: 14px;
    height: 14px;

    span {
      font-size: 14px;
      font-variation-settings: 'OPSZ' 14;
    }
  }
}

.xs {
  height: 24px;
  height: 0 8px;
  gap: 4px;
  font: var(--font-button-xs);

  .addonLeft,
  .addonRight {
    width: 12px;
    height: 12px;

    span {
      font-size: 12px;
      font-variation-settings: 'OPSZ' 12;
    }
  }
}
