.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  padding: 8px 0;
  align-items: center;
  height: 32px;
}
.bar {
  border-bottom: 1px solid var(--grey-secondary-color);
}

.description {
  max-width: 388px;
  margin-bottom: 8px;
}

.dropDownBtn {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  position: absolute;
  right: 6px;
}

.icon {
  font-size: 18px;
}

.status {
  font-size: 10px;
  line-height: 12px;
  padding: 3px 10px;
  height: 20px;
}

.duration {
  font-size: 12px;
  line-height: 14px;
  color: var(--primary-color);
}
