.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  padding: 8px 0;
  align-items: center;
  height: 32px;
}
.bar {
  border-bottom: 1px solid var(--grey-secondary-color);
}

.description {
  max-width: 388px;
  margin-bottom: 8px;
}

.dropDownBtn {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  position: absolute;
  right: 6px;
}

.icon {
  font-size: 18px;
}

.status {
  font-size: 12px;
  line-height: 14px;
}

.status_red {
  color: var(--error-color);
}

.status_green {
  color: var(--success-color);
}
