.TextArea {
  min-height: 188px;
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  border: 1px solid var(--grey-secondary-color);
  width: 100%;
  color: var(--base-0-color);
  border-radius: 16px;
  background-color: var(--bg-color);
  padding: 16px;
  font: var(--font-20);
  position: relative;
  resize: none;

  &::-webkit-scrollbar {
    display: none;
  }

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: var(--grey-primary-color);
  }
}

.error {
  textarea {
    border-color: var(--error-color);
    background-color: var(--error-color-background);
  }
  .errorMessage {
    color: var(--error-color);
  }
}
