.Sidebar {
  display: grid;
  grid-template-rows: 120px 1fr;
  gap: 8px;
  height: 100%;
}

.sidebar_block {
  border-radius: 4px;
  background: var(--white);
  width: var(--sidebar-width);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}
