.Sidebar {
  position: relative;
  border-radius: 0 15px 15px 0;
  background: var(--white);
  width: 250px;
  height: 700px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
  margin-left: 30px;
}