.wrp {
  display: flex;
  flex-direction: column;
}
.text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.tag {
  position: absolute;
  top: 16px;
  right: 28px;
}

.img_wrapper {
  position: relative;
}

.close_btn {
  color: var(--base-0-color);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--base-0-color);
  cursor: pointer;
}

.img {
  border-radius: 16px;
  position: relative;
}

.text {
  max-width: 415px;
  margin-top: 16px;
  font-size: 14px;
}
.body {
  display: flex;
  flex-direction: row;
}
.date {
  color: var(--grey-primary-color);
  font-size: 14px;
  line-height: 18px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
  align-items: center;
}

.title {
  font-size: var(--font-size-32);
  font-weight: 400;
  max-width: 415px;
}

.price {
  font-size: var(--font-size-32);
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-size: var(--font-size-16);
  font-weight: 400;
}

.closed {
  filter: grayscale(100%);
}

.complete {
  font-size: 12px;
  color: var(--success-color);
  font-weight: 400;
}
