.EmployeeNotes {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .notes {
    display: flex;
    gap: 8px;
    align-items: end;
  }

  .notes_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
}
