.Footer {
  background: var(--base-0-color);
  height: var(--footer-height);
  width: 100%;
  display: flex;
  padding: 50px 30px;
  justify-content: space-between;
  overflow: hidden;
}

.top {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 64px;
  color: var(--white);
  border-bottom: 1px solid var(--grey-color);

  &__links {
    display: flex;
    flex-direction: column;
  }
}

.bottom {
  &__links {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    a {
      color: var(--white);
    }
  }
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-self: center;
}