.EmployeeEvents {
  width: 1022px;
  height: 320px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-bottom: 16px;
  padding-right: 150px;
  border-bottom: 1px solid var(--grey-secondary-color);
}

.event {
  display: flex;
  gap: 310px;
  margin-top: 20px;
}