.primary {
  color: var(--primary-color);

  &:hover {
    color: var(--primary-hover-color);
  }
}

.black {
  color: var(--base-0-color);

  &:hover {
    color: var(--primary-color);
  }
}

.white {
  color: var(--white);

  &:hover {
    color: var(--primary-hover-color);
  }
}

.s {
  font: var(--font-button-s);
}

.m {
  font: var(--font-button-m);
}

.l {
  font: var(--font-button-l);
}
