.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--grey-secondary-color);
}

.EmployeeEvents {
  height: fit-content;
  ul {
    margin-bottom: 16px;
  }
}

.textEmpty {
  margin-top: 16px;
}
