.AddEmployeeForm {
  height: 100%;
  display: flex;
  flex-direction: column;

  .form_title {
    h2 {
    font-weight: 500;
    }
  }

  .form_description {
    margin-top: 4px;
    p {
      color: var(--grey-primary-color);
    }
  }

  .form_registration {
    margin-top: 16px;
    p {
      color: var(--grey-primary-color);
    }
  }

  .form_fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .form_buttons {
    display: flex;
    gap: 8px;
    margin-top: auto;
  }
}
