.title {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--grey-secondary-color);
}

.transaction {
  display: flex;
  gap: 180px;
  margin-top: 20px;
}

.EmployeeOperations {
  height: fit-content;

  ul {
    margin-bottom: 16px;
  }
}

.textEmpty {
  margin-top: 16px;
}
